button {
  background-color: #ff4a11;
  color: #ffffff;
  width: 28vw;
  height: 6vh;
  border: 0em;
  border-radius: 5px;
}
button:hover {
  background-color: #e5430f;
}
button:active {
  background-color: #ff5c29;
}
