.App-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  font-size: 13px;
}

label {
  align-self: flex-start;
}

h2 {
  font-size: 15px;
}
textarea {
  border: solid 2px lightgray;
  border-radius: 5px;
}
